.manrope {
    font-family: 'Manrope', sans-serif;
}
.element-container {
    width: 90%;
    max-width: 1170px;
    margin: auto;
}
.slide-height {
    height: 550px;
}

.background-img1 {
    background-image: url('../Images/2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.background-img2 {
    background-image: url('../Images/3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.background-img3 {
    background-image: url('../Images/4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}